
<style>
		#formKomentar{
			border-top: 1vh solid #d1d1d1;
			font-size: 2vh;
			}
		input, textarea{
			padding: 0.5vh;
			border:0.2vh solid #e6e6e6;
			border-radius: 5px;
			margin-bottom: 15px;
			}
		input:focus, textarea:focus{
			border:3px solid #5E4F4F;
			} 
		textarea{
			width:80vw;
			}
		input[type="submit"]{
			cursor: pointer;
			background: -webkit-linear-gradient(top, #efefef, #ddd);
			background: -moz-linear-gradient(top, #efefef, #ddd);
			background: -ms-linear-gradient(top, #efefef, #ddd);
			background: -o-linear-gradient(top, #efefef, #ddd);
			background: linear-gradient(top, #efefef, #ddd);
			color: #333;
			text-shadow: 0px 1px 1px rgba(255,255,255,1);
			border: 1px solid #ccc;
			} 
		input[type="submit"]:hover {
			background: -webkit-linear-gradient(top, #eee, #ccc);
			background: -moz-linear-gradient(top, #eee, #ccc);
			background: -ms-linear-gradient(top, #eee, #ccc);
			background: -o-linear-gradient(top, #eee, #ccc);
			background: linear-gradient(top, #eee, #ccc);
			border: 1px solid #bbb; }
		#contactus{
			font-size: 2vh;
			border-top: 0.6vh solid #d1d1d1;
			border-bottom: 2vh;
			padding: 2vh;
			}
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
			}
		li {
			float: left;
			}

		li a {
			display: block;
			color: white;
			text-align: left;
			padding: 14px 16px;
			text-decoration: none;
			}
		ul li a:hover:not(.active) {
			color: white;
			background: blue;
			}
		.bg1 a  {
			color: black;
			}
</style>